<%= form_with(model: interaction) do |form| %>
  <% if interaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(interaction.errors.count, "error") %> prohibited this interaction from being saved:</h2>

      <ul>
        <% interaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <p>With Whom? - dropdown of contacts</p>
  </div>

  <div>
    <%= form.label :length, style: "display: block" %>
    <%= form.text_area :length %>
    <p>[turn into a dropdown: 15 min, 30 min, 45 min, 1 hour, 2 hours, Half Day, Full Day, 2-Day, Overnight, Weekend, 3-Day-Plus, One Week, One Week Plus]
  </div>  

  <div>
    <p><strong>Interaction Type</strong> - dropdown</p>
  </div>

  <div>
    <p><strong>I Initiated Contact?</strong> - boolean </p>
  </div>

  <div>
    <p><strong>Interaction Category?</strong> - multiple checkboxes.  Business/Career/Work = you work together either at a job, vendor, business, etc.  Social/Personal = you both are happy to be in the other's company.  Transactional - You or they are getting something transactional out of the meeting/contact.</p>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
