
<%= form_with(model: interaction) do |form| %>

  <% if interaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(interaction.errors.count, "error") %> prohibited this interaction from being saved:</h2>

      <ul>
        <% interaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, placeholder: "What is the best name for this Interaction?", class: "form-control" %>
    </div>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description, placeholder: "Where did it happen? Doing What? Why were you there?", class: "form-control" %>
    </div>

    <div>
      <p>With Whom?</p>
        <%= form.select :contact_id, @contacts.map{|c| ["#{c.first_name} #{c.last_name}", c.id]}, 
          {prompt: 'With whom did you have this Interaction?'},
          class: 'autocomplete-form',
          data: {
            controller: 'search',
            oldaction: 'keyup->search#suggestions',
            suggestions_url: search_suggestions_path, search_target: "input"
                } %>
    </div>
      <%# render partial: "contact_search_form", locals: { results: [] } %>

    <br>
    
    <div>
      <p>Length of Interaction?</p>
      <%= form.select :length, [['15 min','15 min'],['30 min','30 min'],['45 min','45 min'],['1 hour','1 hour'],['2 hours','2 hours'],['Half Day','Half Day'],['Full Day','Full Day'],['2-Day','2-Day'],['Overnight','Overnight'],['Weekend','Weekend'],['3-Day Plus','3-Day Plus'],['One Week','One Week'],['One Week Plus','One Week Plus']], class: "form-select", style: "width: 200px; border-radius: 5px"  %>
    </div>  

    <br>

    <div>
      <p>Interaction Type?<p>
      <%= form.select :interaction_type_id, @interaction_types.map{|i| ["#{i.name}", i.id]} %>
    </div>

    <div>
      <p><strong>You Initiated Contact?</strong></p>
      <%= form.select :you_initiated_contact, options_for_select([['Yes', true], ['No', false]], @interaction.you_initiated_contact), {}, class: 'form-select' %>
    </div>

    <div>
      <p><strong>Interaction Category?</strong></p>
      <%= form.collection_check_boxes :interaction_category_ids, @interaction_categories, :id, :name, { multiple: true, include_hidden: false } %>
    </div>
    <br>

    <div>
      <p><strong>Emotional Reaction</strong>
      <%= form.collection_check_boxes :emotional_reaction_ids, @emotional_reactions, :id, :name, { multiple: true, include_hidden: false } %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  
<% end %>
