<div id="<%= dom_id interaction %>">
  <p>
    <strong>Name:</strong>
    <%= interaction.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= interaction.location&.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= interaction.description %>
  </p>

  <p>
    <strong>With Whom:</strong>
    <%= interaction.contact_full_name %>
  </p>

  <p>
    <strong>When:</strong>
    <%= interaction.date.strftime("%B %e, %Y") %>
  </p>  

  <p>
    <strong>Length:</strong>
    <% interaction.points.each do |point| %>
      <%= interaction.length %>: <%= point.interaction_length_points %> Points
    <% end %>
  </p>

  <p>
    <strong>Interaction Type:</strong>
    <% interaction.points.each do |point| %>
      <%= interaction.interaction_type&.name %>: <%= point.interaction_type_points %> Points
    <% end %>
  </p>

  <p>
    <strong>Who Initiated Contact?</strong>
    <% interaction.points.each do |point| %>
      <%= interaction.you_initiated_contact ? "You did.  Good job!" : "No, #{interaction.contact.first_name} initiated contact.  You're popular!" %>:  <%= point.who_initiated_contact_points %> Points
    <% end %>  
  </p>

  <p>
    <strong>Emotional Reactions:</strong>
    <% interaction.points.each do |point| %>
      <% interaction.emotional_reactions.each do |reaction| %>
        <%= reaction.name %>
      <% end %>: <%= point.emotional_reactions_points %> Points
    <% end %>
  </p>  

  <p>
    <strong>Interaction Categories:</strong>
    <% interaction.interaction_categories.each do |category| %>
      <%= category.name %>
    <% end %>
  </p>

  <p>
    <strong>TOTAL POINTS:</strong>
    <%= interaction.total_points %>
  </p>



</div>
