<%= form_with(model: interaction_category) do |form| %>
  <% if interaction_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(interaction_category.errors.count, "error") %> prohibited this interaction_category from being saved:</h2>

      <ul>
        <% interaction_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true  %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
