<p style="color: green"><%= notice %></p>

<%= render @interaction_category %>

<div>
  <%= link_to "Edit this interaction category", edit_interaction_category_path(@interaction_category) %> |
  <%= link_to "Back to interaction categories", interaction_categories_path %>

  <%= button_to "Destroy this interaction category", @interaction_category, method: :delete %>
</div>
