<div class="container">

	<br>

	<% if current_user.contacts.empty? || 
				current_user.contact_types.empty? ||
				current_user.contact_groups.empty? ||
				current_user.last_known_cities.empty? ||
				current_user.locations.empty? ||
				current_user.interactions.empty?	%>
					<div class=containter>
						<div class="card p-5">
							<h3>Welcome to Contact Points! - Here is how to get started:</h2>
							<ol>
								<li>Read the section marked "IMPORTANT" below first.</li>
								<li>Working from right to left on the desktop nav bar, do the following:</li>
								<li>Click 'New Type' to create at least one contact type.</li>
								<li>Click 'New Group' to create at least one contact group.</li>
								<li>Click 'New City' to create at least one city.</li>
								<li>Click 'New Location' to create at least one interaction location.</li>
								<li>Click 'New Contact' to create at least one contact.</li>
								<li>Click 'New Interaction' to create a new interaction.</li>  
							</ol>
							<strong>
							<p>IMPORTANT: Once you have completed the above, these instructions will disappear. Follow the steps in order or I promise you'll get confused.</p>
							<p>Scroll down a bit.  Cool right?  As you add more contacts and interactions, these sections below (and on the <a href="/all_points">All Points</a> page) will start to fill up with names.  If you continue to see 'None Yet', duplicate names, or no names at all for 'Recommended Next to Contact', it simply means you don't have enough contacts yet that meet the criteria.  Keep in mind that the algorithm for Recommended Next to Contact is complicated, and works best with at least 25 contacts, so give it some time.  All of the categories will normalize the more contacts and interactions you create.  </p>
							<p>The free plan has only one restriction: once you reach 15 interactions, you will have to upgrade to continue using Contact Points.  We hope you will!  Please tell your friends and colleagues about us!</p>
							<p>If you find any bugs or have any questions, email Monroe at roe at monroe mann dott com.  You can always find our contact info on the 'Go To' dropdown.</p>
							</strong>
					</div>
				</div>
	<% end %>  

	<div class="row">
		<div class="col">
			<h4>Recommended Next To Contact</h4>
				<!-- 1 with zero points, 1 recently_added_contact, 1 whose points have dropped recently -->
				<!-- 1 you haven't talked to in six months -->
				<!-- To begin with, it can be just 5 random contacts, that you have not contacted in the last 6 months (or , that you have not skipped in last month.  Then add more from there -->
				<!-- Need to add a 'skip' button that skips for 1 month -->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			      <th>Mobile</th>
			      <th>Email</th>
			      <th>Last Interaction</th>
			      <th>Points</th>
			    </tr>
			  </thead>

			  <tbody>

<% @next_to_contact.each do |contact| %>
  <% if contact.is_a?(Contact) %>
    <tr>
      <td><%= contact.present? ? link_to(contact.full_name, contact) : 'None Yet' %></td>

      <% if contact.present? && contact.interactions&.any? %>
        <% if contact.mobile_phone_1.present? && !contact.mobile_phone_1.empty? %>
          <td><%= link_to contact.mobile_phone_1, contact.mobile_phone_1 %></td>
        <% else %>
          <td>None Yet</td>
        <% end %>
      <% else %>
        <td>None Yet</td>
      <% end %>

      <% if contact.present? && contact.interactions&.any? %>
        <% if contact.email_1.present? && !contact.email_1.empty? %>
          <td><%= link_to contact.email_1, contact.email_1 %></td>
        <% else %>
          <td>None Yet</td>
        <% end %>
      <% else %>
        <td>None Yet</td>
      <% end %>

      <% if contact.present? && contact.interactions&.any? %>
        <td><%= time_ago_in_words(contact.interactions.last.created_at) %> ago</td>
      <% else %>
        <td>None Yet</td>
      <% end %>

      <td><%= contact.total_points.present? ? contact.total_points : 'None Yet' %></td>

    </tr>
  <% else %>
    <!-- Handle the case where contact is not a valid Contact object -->
  <% end %>
<% end %>









			  </tbody>
			</table>
		</div>
	</div>
	
	<div class="row">
	<!-- 	<div class="col">
			<div class="card p-4 mb-4">
			<h5>Going Up (<%#= @going_up.count %>)</h5> -->
				<!-- All those whose points have gone up recently, most poits gained at top -->
			  <!--<table class="table">
				  <thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <%# @going_up.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%#= link_to contact.full_name, contact %>
				        	<%#= contact[:points] %>
				        </td>
				      </tr>			       
				    <%# end %>
				  </tbody>
				</table>
				<%#= link_to "Show More", all_points_path, class: "text-center" %>
			</div>
		</div> -->

	<!-- 	<div class="col-md-4">
			<div class="card p-4 mb-4">
				<h5>Going Down (<%#= @going_down.compact.count %>)</h5> -->
					<!-- All those whose points have gone down recently, most points lost at top -->
					<!-- <table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
						<%# if @going_down %>
						  <%# @going_down.compact.first(5).each do |contact| %>
						    <%# if contact %>
						      <tr>
						        <td style="display: flex; justify-content: space-between;">
						        	<%#= link_to contact.full_name, contact %>
						        	<%#= contact[:points] %>
						        </td>
						      </tr>
						    <%# end %>
						  <%# end %>
						<%# end %>
				  </tbody>
				</table>
				<%#= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div> -->	

		<div class="col-md-4">
			<div class="card p-4 mb-4">
				<h5>At Zero (<%= @at_zero.count %>)</h5>
					<!-- All contacts with zero points -->
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @at_zero.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	

		<!-- <div class="col-md-4">
			<div class="card p-4 mb-4">			
				<h5>Holding Steady (<%#= @holding_steady.count %>)</h5>
				<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <%# @holding_steady.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%#= link_to contact.full_name, contact %>
				        	<%#= contact[:points] %>
				        </td>
				      </tr>
				    <%# end %>
				  </tbody>
				</table>
				<%#= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	 -->
	
		<div class="col-md-4">
			<div class="card p-4 mb-4">			
				<h5>Needs Attention (<%= @needs_attention.count %>)</h5>	
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @needs_attention.first(5).each do |contact| %>
				      <tr>
								<td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	

		<div class="col-md-4">
			<div class="card p-4 mb-4">			
				<h5>Recently Added (<%= @recently_added_contacts.count %>)</h5>
				<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @recently_added_contacts.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	

		<div class="col-md-4">
			<div class="card p-4 mb-4">			
				<h5>True Best Friends (<%= @true_best_friends.any? ? @true_best_friends_count.count : 0 %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @true_best_friends.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>			

		<div class="col-md-4">
			<div class="card p-4 mb-4">			
				<h5>Best Friends (<%= @best_friends_count.any? ? @best_friends_count.count : 0 %>)</h5>
				<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @best_friends.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	

		<div class="col-md-4">
			<div class="card p-4 mb-4">			
				<h5>Friends (<%= @friends_count.any? ? @friends_count.count : 0 %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @friends.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	

		<div class="col-md-4">
			<div class="card p-4 mb-4">			
				<h5>Acquaintances (<%= @acquaintances_count.any? ? @acquaintances_count.count : 0 %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @acquaintances.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	

		<div class="col-md-4">
			<div class="card p-4 mb-4">			
				<h5>When Sad, Call (<%= @when_sad_call_count.count %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @when_sad_call.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	

		<div class="col-md-4">
			<div class="card p-4 mb-4">			
				<h5>Limit Your Time With (<%= @limit_your_time_with.any? ? @limit_your_time_with_count.count : 0 %>)</h5>				
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @limit_your_time_with.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	

		<div class="col-md-4">
			<div class="card p-4 mb-4">			
				<h5>Hang Out More With (<%= @hang_out_more_with.any? ? @hang_out_more_with_count.count : 0 %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @hang_out_more_with.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	

		<div class="col-md-4">
			<div class="card p-4 mb-4">
				<h5>Your Future Is (<%= @your_future_is.count %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @your_future_is.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	

		<div class="col-md-4">
			<div class="card p-4 mb-4">			
				<h5>Friendliest Places (<%= @friendliest_places.any? ? @friendliest_places_count : 0 %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @friendliest_places.first(5).each do |location| %>
				      <tr>
				        <td><%= link_to location.name, location %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	

		<div class="col-md-4">
			<div class="card p-4 mb-4">		
			<h5>Happiest Locations (<%= @happiest_locations.any? ? @happiest_locations_count : 0 %>)</h5>
				<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @happiest_locations.first(5).each do |location| %>
				      <tr>
				        <td><%= link_to location.name, location %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	

		<!-- <div class="col-md-4">
			<div class="card p-4 mb-4">			
				<h5>Avoid or Fix These Locations (<%# @avoid_or_fix_locations.count %>)</h5> -->
		<!-- Places that have 70% or higher negative emotions -->
					<!-- <table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <%# @avoid_or_fix_locations.first(5).each do |location| %>
				      <tr>
				        <td><%#= link_to location.name, location %></td>
				      </tr>
				    <%# end %>
				  </tbody>
				</table>
				<%#= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	 -->

<div class="col-md-4">
  <div class="card p-4 mb-4">
    		
				<h5>Huge Let Downs (<%= @huge_let_downs.any? ? @huge_let_downs_count.count : 0 %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @huge_let_downs.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	

		<div class="col-md-4">
			<div class="card p-4 mb-4">			
				<h5>Takers & Leeches (<%= @takers_and_leeches.any? ? @takers_and_leeches_count.count : 0 %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @takers_and_leeches.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= link_to "Show More", all_points_path, class: "text-center" %>
			</div>	
		</div>	
	</div>

</div>