<div class="container">

	<br>

	<div class="row mb-4">
		<div class="col">
			<h4>Recommended Next To Contact</h4>
				<!-- 1 with zero points, 1 recently_added_contact, 1 whose points have dropped recently -->
				<!-- 1 you haven't talked to in six months -->
				<!-- To begin with, it can be just 5 random contacts, that you have not contacted in the last 6 months (or , that you have not skipped in last month.  Then add more from there -->
				<!-- Need to add a 'skip' button that skips for 1 month -->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			      <th>Mobile</th>
			      <th>Email</th>
			      <th>Points</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @next_to_contact.each do |contact| %>
			      <tr>
							<td><%= link_to contact.full_name, contact %></td>
			        <td><%= link_to contact.mobile_phone_1, contact %></td>
			        <td><%= link_to contact.email_1, contact %></td>
			        <td><%= link_to contact.total_points, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
	
	<div class="row mb-4">
		<div class="col">
			<div class="card p-4">
			<h5>Going Up (<%= @going_up.count %>)</h5>
				<!-- All those whose points have gone up recently, most poits gained at top -->
			  <table class="table">
				  <thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @going_up.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>			       
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="col">
			<div class="card p-4">
				<h5>Going Down (<%= @going_down.compact.count %>)</h5>
					<!-- All those whose points have gone down recently, most points lost at top -->
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
						<% if @going_down %>
						  <% @going_down.compact.first(5).each do |contact| %>
						    <% if contact %>
						      <tr>
						        <td style="display: flex; justify-content: space-between;">
						        	<%= link_to contact.full_name, contact %>
						        	<%= contact[:points] %>
						        </td>
						      </tr>
						    <% end %>
						  <% end %>
						<% end %>

				  </tbody>
				</table>
			</div>	
		</div>	

		<div class="col">
			<div class="card p-4">
				<h5>At Zero (<%= @at_zero.count %>)</h5>
					<!-- All contacts with zero points -->
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @at_zero.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="col">
			<div class="card p-4">			
				<h5>Holding Steady (<%= @holding_steady.count %>)</h5>
	<!-- All those whose points have stayed at same value for last month -->
				<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @holding_steady.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>
	</div>	

	<div class="row mb-4">		
		<div class="col">
			<div class="card p-4">			
				<h5>Needs Attention (<%= @needs_attention.count %>)</h5>	
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @needs_attention.first(5).each do |contact| %>
				      <tr>
								<td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="col">
			<div class="card p-4">			
				<h5>Recently Added (<%= @recently_added_contacts.count %>)</h5>
	<!-- All those who have been added within the last 3 months -->

					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @recently_added_contacts.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="col">
			<div class="card p-4">			
				<h5>True Best Friends (<%= @true_best_friends.any? ? @true_best_friends_count.count : 0 %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @true_best_friends.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>		

		<div class="col">
			<div class="card p-4">			
				<h5>Best Friends (<%= @best_friends_count.any? ? @best_friends_count.count : 0 %>)</h5>
				<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @best_friends.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col">
			<div class="card p-4">			
				<h5>Friends (<%= @friends_count.any? ? @friends_count.count : 0 %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @friends.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="col">
			<div class="card p-4">			
				<h5>Acquaintances (<%= @acquaintances_count.any? ? @acquaintances_count.count : 0 %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @acquaintances.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="col">
			<div class="card p-4">			
				<h5>Close to Zero (<%= @close_to_zero.count %>)</h5>	
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @close_to_zero.first(5).each do |contact| %>
							<tr>
							  <td style="display: flex; justify-content: space-between;">
							    <%= link_to "#{contact.full_name}:", contact %> 
							    <%= contact[:points] %>
							  </td>
							</tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="col">
			<div class="card p-4">			
				<h5>When Sad, Call (<%= @when_sad_call_count.count %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @when_sad_call.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col">
			<div class="card p-4">			
				<h5>Limit Your Time With (<%= @limit_your_time_with.any? ? @limit_your_time_with_count.count : 0 %>)</h5>				
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @limit_your_time_with.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="col">
			<div class="card p-4">			
				<h5>Hang Out More With (<%= @hang_out_more_with.any? ? @hang_out_more_with_count.count : 0 %>)</h5>
		<!-- All those whose points are positive, who consistently leave you with 90% positive emotions.  -->			
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @hang_out_more_with.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="col">
			<div class="card p-4">
				<h5>Your Future Is (<%= @your_future_is.count %>)</h5>
			<!-- You spend the most time with these people based on minutes.  These people are your future. -->
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @your_future_is.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="col">
			<div class="card p-4">			
				<h5>Friendliest Places (<%= @friendliest_places.count %>)</h5>
		<!-- Places that have the most friends, BFs, and TBFs.  Go to these places when lonely and sad, and you'll feel better in no time -->
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @friendliest_places.first(5).each do |location| %>
				      <tr>
				        <td><%= link_to location.name, location %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col">
			<div class="card p-4">			
				<h5>Happiest Locations (<%= @happiest_locations.count %>)</h5>
		<!-- These locations are associated with at least 70% or higher positive emotions.  Hang out in these places more often -->			
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @happiest_locations.first(5).each do |location| %>
				      <tr>
				        <td><%= link_to location.name, location %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="col">
			<div class="card p-4">			
				<h5>Avoid or Fix These Locations (<%= @avoid_or_fix_locations.count %>)</h5>
		<!-- Places that have 70% or higher negative emotions -->
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @avoid_or_fix_locations.first(5).each do |location| %>
				      <tr>
				        <td><%= link_to location.name, location %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

<div class="col">
  <div class="card p-4">
    		
				<h5>Huge Let Downs (<%= @huge_let_downs.any? ? @huge_let_downs_count.count : 0 %>)</h5>
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @huge_let_downs.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="col">
			<div class="card p-4">			
				<h5>Takers & Leeches (<%= @takers_and_leeches.count %>)</h5>
		<!-- People who consistently take from you and rarely show any gratitude-->
					<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @takers_and_leeches.first(5).each do |contact| %>
				      <tr>
				        <td style="display: flex; justify-content: space-between;">
				        	<%= link_to contact.full_name, contact %>
				        	<%= contact[:points] %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>
	</div>



	<p>ADMIN:</p> 
	<p><%= link_to "Contact Types", contact_types_path %></p> 
	<p><%= link_to "Point Category Types", categories_path %></p>
	<p><%= link_to "Interaction Category Types", interaction_categories_path %></p>
	<p><%= link_to "Interaction Type", interaction_types_path %></p>
	<p><%= link_to "Emotional Reactions", emotional_reactions_path %></p>
	<p><%= link_to "Last Known Cities", last_known_cities_path %></p>
	<p><%= link_to "Last Known Countries", last_known_countries_path %></p>


</div>