<div class="container">

	<br>

	<div class="row">
		<div class="col">
			<h4>Recommended Next To Contact</h2>
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			      <th>Mobile</th>
			      <th>Email</th>
			      <th>Points</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recently_added_contacts.each do |contact| %>
			      <tr>
							<td><%= link_to contact.first_name, contact %></td>
			        <td><%= link_to contact.mobile_phone_1, contact %></td>
			        <td><%= link_to contact.email_1, contact %></td>
			        <td><%= link_to contact.points, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	
	<div class="row">
		<div class="col">
			<h4>Going Up (<%= @contacts.count %>)</h2>
			  <table class="table">
				  <thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @contacts.each do |contact| %>
				      <tr>
				        <td><%= link_to contact.first_name, contact %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
		</div>

		<div class="col">
			<h4>Going Down (<%= @contacts.count %>)</h2>
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recently_added_contacts.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.first_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>	

		<div class="col">
			<h4>At Zero (<%= @contacts.count %>)</h2>
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recently_added_contacts.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.first_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

		<div class="col">
			<h4>Holding Steady (<%= @contacts.count %>)</h2>
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recently_added_contacts.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.first_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>

	<div class="row">		
		<div class="col">
			<h4>Needs Attention (<%= @contacts.count %>)</h2>
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recently_added_contacts.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.first_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

		<div class="col">
			<h4>Recently Added (<%= @contacts.count %>)</h2>
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recently_added_contacts.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.first_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

		<div class="col">
			<h4>True Best Friends (<%= @contacts.count %>)</h2>
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recently_added_contacts.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.first_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>		

		<div class="col">
			<h4>Best Friends (<%= @contacts.count %>)</h2>
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recently_added_contacts.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.first_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h4>Friends (<%= @contacts.count %>)</h2>
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recently_added_contacts.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.first_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

		<div class="col">
			<h4>Acquaintances (<%= @contacts.count %>)</h2>
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recently_added_contacts.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.first_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

		<div class="col">
			<h4>Close to Zero (<%= @contacts.count %>)</h2>
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recently_added_contacts.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.first_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>


	<p>ADMIN:</p> 
	<p><%= link_to "Contact Types", contact_types_path %></p> 
	<p><%= link_to "Point Category Types", categories_path %></p>
	<p><%= link_to "Interaction Category Types", interaction_categories_path %></p>
	<p><%= link_to "Emotional Reactions", emotional_reactions_path %></p>

</div>