<div class="container">

	<br>

	<div class="row">
		<div class="col">
			<h4>Recommended Next To Contact</h2>
				<!-- 1 with zero points, 1 recently_added_contact, 1 whose points have dropped recently -->
				<!-- 1 you haven't talked to in six months -->
				<!-- To begin with, it can be just 5 random contacts, that you have not contacted in the last 6 months, that you have not skipped in last month.  Then add more from there -->
				<!-- Need to add a 'skip' button that skips for 1 month -->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			      <th>Mobile</th>
			      <th>Email</th>
			      <th>Points</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @next_to_contact.each do |contact| %>
			      <tr>
							<td><%= link_to contact.full_name, contact %></td>
			        <td><%= link_to contact.mobile_phone_1, contact %></td>
			        <td><%= link_to contact.email_1, contact %></td>
			        <td><%= link_to contact.total_points, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	
	<div class="row">
		<div class="col">
			<h4>Going Up (<%= @going_up.count %>)</h2>
				<!-- All those whose points have gone up recently, most poits gained at top -->
			  <table class="table">
				  <thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @going_up.each do |contact| %>
				      <tr>
				        <td><%= link_to contact.full_name, contact %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
		</div>

		<div class="col">
			<h4>Going Down (<%= @going_down.count %>)</h2>
				<!-- All those whose points have gone down recently, most points lost at top -->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @going_down.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>	

		<div class="col">
			<h4>At Zero (<%= @at_zero.count %>)</h2>
				<!-- All contacts with zero points -->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @at_zero.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

		<div class="col">
			<h4>Holding Steady (<%= @holding_steady.count %>)</h2>
<!-- All those whose points have stayed at same value for last month -->
				<table class="table">
					<thead>
				    <tr>
				      <th>Name</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @holding_steady.each do |contact| %>
				      <tr>
				        <td><%= link_to contact.full_name, contact %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>

	<div class="row">		
		<div class="col">
			<h4>Needs Attention (<%= @needs_attention.count %>)</h2>
				<!-- All those whose points have been going down consistently, or have been at zero, for more than six months -->				
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @needs_attention.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

		<div class="col">
			<h4>Recently Added (<%= @recently_added_contacts.count %>)</h2>
<!-- All those who have been added within the last 3 months -->

				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @recently_added_contacts.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

		<div class="col">
			<h4>True Best Friends (<%= @true_best_friends.count %>)</h2>
<!-- All those whose points are above 200, who you've known for more than two years, and who has reached out to your within the last two years at least 5 times in a social manner and who gives you 90% or more positive than negative emotions -->

				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @true_best_friends.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>		

		<div class="col">
			<h4>Best Friends (<%= @best_friends.count %>)</h2>
	<!-- All those whose points are above 100, who you've known for more than one year, and who has reached out to your within the last year at least 3 times in a social manner, and who gives you at least 80% or more positive than negative emotions -->

				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @best_friends.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h4>Friends (<%= @friends.count %>)</h2>
		<!-- All those whose points are above 50, who you've known for more than six months, and who has reached out to your within the last six months at least once in a social manner, and who gives you at least 70% or more positive than negative emotions -->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @friends.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

		<div class="col">
			<h4>Acquaintances (<%= @acquaintances.count %>)</h2>
	<!-- All those whose points are above 25, who you've known for more than three months, and with whom you've interacted at least once in a social manner in the last 3 months, and who gives you at least 60% or more positive than negative emotions -->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @acquaintances.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

		<div class="col">
			<h4>Close to Zero (<%= @close_to_zero.count %>)</h2>
	<!-- All those whose points that have been going down over the last year, and have 25 points or less -->			
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @close_to_zero.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

		<div class="col">
			<h4>When Sad, Call (<%= @when_sad_call.count %>)</h2>
		<!-- All those who are at least a friend, who consistently cheer you up and make you feel better, are patient, and do not have negative emotions. -->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @when_sad_call.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h4>Limit Your Time With (<%= @limit_your_time_with.count %>)</h2>
	<!-- All those with whom you are at least an acquiantance, who leave you with 70% or more negative emotions. -->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @limit_your_time_with.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

		<div class="col">
			<h4>Hang Out More With (<%= @hang_out_more_with.count %>)</h2>
	<!-- All those whose points are positive, who consistently leave you with 90% positive emotions.  -->			
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @hang_out_more_with.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

	<div class="col">
			<h4>Your Future Is (<%= @your_future_is.count %>)</h2>
		<!-- You spend the most time with these people based on minutes.  These people are your future. -->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @your_future_is.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

		<div class="col">
			<h4>Friendliest Places (<%= @friendliest_places.count %>)</h2>
	<!-- Places that have the most friends, BFs, and TBFs.  Go to these places when lonely and sad, and you'll feel better in no time -->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @friendliest_places.each do |location| %>
			      <tr>
			        <td><%= link_to location.name, location %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

	<div class="row">

		<div class="col">
			<h4>Happiest Locations (<%= @happiest_locations.count %>)</h2>
	<!-- These locations are associated with at least 70% or higher positive emotions.  Hang out in these places more often -->			
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @happiest_locations.each do |location| %>
			      <tr>
			        <td><%= link_to location.name, location %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

				<div class="col">
			<h4>Avoid or Fix These Locations (<%= @avoid_or_fix_locations.count %>)</h2>
	<!-- Places that have 70% or higher negative emotions -->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @avoid_or_fix_locations.each do |location| %>
			      <tr>
			        <td><%= link_to location.name, location %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

				<div class="col">
			<h4>Huge Let Downs (<%= @huge_let_downs.count %>)</h2>
	<!-- People who have consistently let you down -->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @huge_let_downs.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>

				<div class="col">
			<h4>Takers & Leeches (<%= @takers_and_leeches.count %>)</h2>
	<!-- People who consistently take from you and rarely show any gratitude-->
				<table class="table">
				<thead>
			    <tr>
			      <th>Name</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @takers_and_leeches.each do |contact| %>
			      <tr>
			        <td><%= link_to contact.full_name, contact %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>



	<p>ADMIN:</p> 
	<p><%= link_to "Contact Types", contact_types_path %></p> 
	<p><%= link_to "Point Category Types", categories_path %></p>
	<p><%= link_to "Interaction Category Types", interaction_categories_path %></p>
	<p><%= link_to "Interaction Type", interaction_types_path %></p>
	<p><%= link_to "Emotional Reactions", emotional_reactions_path %></p>

</div>