

    <div class="mx-auto p-5">

      <h3 class=text-center><%= contact.full_name %><br>
        (<%= contact[:points] %> Points)</h3>
      <% if contact.interactions.any? %>
        <h4 class="text-center">Last Contacted: <%= time_ago_in_words(contact.interactions.last.created_at) %> ago</h4>
      <% else %>
        <p class="text-center">No interactions recorded.</p>
      <% end %> 

      <br>

      <div id="<%= dom_id contact %>">

        <div class="row">
          <p class="col-md-3">
            <strong>Name:</strong>
            <%= contact.first_name %> <%= contact.last_name %>
          </p>

          <p class="col-md-3">
            <strong>Known Since:</strong>
              <% if contact.date_first_met %>
                <%= contact.date_first_met.strftime("%B %e, %Y") %> - <%= contact.known_since %>
              <% else %>
                Unknown
              <% end %>
          </p>          

          <p class="col-md-3">
            <strong>Last known countries:</strong>
            <% if contact.last_known_countries.any? %>
              <%= contact.last_known_countries.map(&:name).join(', ') %>
            <% else %>
              No last known countries
            <% end %>
          </p>

          <p class="col-md-3">
            <strong>Last known cities:</strong>
            <% if contact.last_known_cities.any? %>
              <%= contact.last_known_cities.map(&:name).join(', ') %>
            <% else %>
              No last known cities
            <% end %>
          </p>


          <p class="col-md-3">
            <strong>Mobile phone 1:</strong>
            <%= contact.mobile_phone_1 %>
          </p>

          <p class="col-md-3">
            <strong>Mobile phone 2:</strong>
            <%= contact.mobile_phone_2 %>
          </p>

          <p class="col-md-3">
            <strong>Office phone 1:</strong>
            <%= contact.office_phone_1 %>
          </p>

          <p class="col-md-3">
            <strong>Office phone 2:</strong>
            <%= contact.office_phone_2 %>
          </p>

          <p class="col-md-3">
            <strong>Home phone:</strong>
            <%= contact.home_phone %>
          </p>

          <p class="col-md-3">
            <strong>Other phone:</strong>
            <%= contact.other_phone %>
          </p>

          <p class="col-md-3">
            <strong>Email 1:</strong>
            <%= contact.email_1 %>
          </p>

          <p class="col-md-3">
            <strong>Email 2:</strong>
            <%= contact.email_2 %>
          </p>

          <p class="col-md-3">
            <strong>Email 3:</strong>
            <%= contact.email_3 %>
          </p>

          <p class="col-md-3">
            <strong>Email 4:</strong>
            <%= contact.email_4 %>
          </p>

          <p class="col-md-3">
            <strong>Email 5:</strong>
            <%= contact.email_5 %>
          </p>

          <p class="col-md-3">
            <strong>Website 1:</strong>
            <%= contact.website_1 %>
          </p>

          <p class="col-md-3">
            <strong>Website 2:</strong>
            <%= contact.website_2 %>
          </p>

          <p class="col-md-3">
            <strong>Website 3:</strong>
            <%= contact.website_3 %>
          </p>

          <p class="col-md-3">
            <strong>Website 4:</strong>
            <%= contact.website_4 %>
          </p>

          <p class="col-md-3">
            <strong>Website 5:</strong>
            <%= contact.website_5 %>
          </p>

          <p class="col-md-3">
            <strong>Website 6:</strong>
            <%= contact.website_6 %>
          </p>

          <p class="col-md-3">
            <strong>Website 7:</strong>
            <%= contact.website_7 %>
          </p>

          <p class="col-md-3">
            <strong>Website 8:</strong>
            <%= contact.website_8 %>
          </p>

          <p class="col-md-3">
            <strong>Contact apps:</strong>
            <%= contact.contact_apps %>
          </p>

          <p class="col-md-3">
            <strong>Birthday:</strong>
            <%= contact.birthday %>
          </p>

          <p class="col-md-3">
            <strong>Address 1:</strong>
            <%= contact.address_1 %>
          </p>

          <p class="col-md-3">
            <strong>Address 2:</strong>
            <%= contact.address_2 %>
          </p>

          <p class="col-md-3">
            <strong>How we met:</strong>
            <%= contact.how_we_met %>
          </p>

          <p class="col-md-3">
            <strong>Things i like:</strong>
            <%= contact.things_I_like %>
          </p>

          <p class="col-md-3">
            <strong>Best memories:</strong>
            <%= contact.best_memories %>
          </p>

          <p class="col-md-3">
            <strong>Areas for improvement:</strong>
            <%= contact.areas_for_improvement %>
          </p>

          <p class="col-md-3">
            <strong>Notes:</strong>
            <%= contact.notes %>
          </p>

          <p class="col-md-3">
            <strong>Groups:</strong>
            <% contact.contact_groups.each do |group| %>
              <%= group.name %>
            <% end %>
          </p>

          <p class="col-md-3">
            <strong>Types:</strong>
            <% contact.contact_types.each do |type| %>
              <%= type.name %>
            <% end %>
          </p>          

        <div>
          <%= link_to "Edit this contact", edit_contact_path(@contact) %> |
          <%= link_to "Back to contacts", contacts_path %>

          <%= button_to "Destroy this contact", @contact, method: :delete %>
        </div>

        <div>
        <br>
        <h3>Interactions With This Contact</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">What</th>
                <th scope="col">When</th>
                <th scope="col">Length</th>
                <th scope="col">Type</th>
                <th scope="col">Where</th>
                <th scope="col">You Initiated?</th>
                <th scope="col">Description</th>
                <th scope="col">Points</th>
              </tr>
            </thead>
            <tbody>
              <% @interactions.each do |interaction| %>
                <tr>
                  <th scope="row"><%= link_to interaction.name, interaction %></th>
                  <td>
                    <%= interaction.date&.strftime("%B %e, %Y") %>
                    <br>
                    (<%= time_ago_in_words(interaction.date) if interaction.date %> ago)
                  </td>
                  <td><%= interaction.length %></td>
                  <td><%= interaction.interaction_type.name %></td>
                  <td><%= interaction.location.name %></td>
                  <td><%= interaction.you_initiated_contact %></td>
                  <td><%= interaction.description.truncate(20) %></td>
                  <td><%= interaction.total_points %></td>
                </tr>
              <% end %>
            </tbody>
          </table>    
        </div>
        
        </div>
      </div>
    </div>
