

    <%= form_with(model: contact) do |form| %>
      <% if contact.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
          <ul>
            <% contact.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <div class="row">

          <div class="col">
            <%= form.label :first_name, "First Name *", style: "display: block" %>
            <%= form.text_field :first_name, required: true %>
          </div>

          <div class="col">
            <%= form.label :last_name, "Last Name *", style: "display: block" %>
            <%= form.text_field :last_name, required: true %>
          </div>

          <div class="col">
            <%= form.label :date_first_met, style: "display: block" %>
            <%= form.date_select :date_first_met, start_year: Date.current.year - 100, end_year: Date.current.year, order: [:month, :day, :year], prompt: true %>
          </div>          

          <div>
            <p>Last Known Countries?</p>
            <%= form.collection_select(:last_known_country_ids, @last_known_countries, :id, :name,
                                       { prompt: 'In which countries was this person last located?' },
                                       { multiple: true, class: 'autocomplete-form',
                                         data: {
                                           controller: 'search',
                                           oldaction: 'keyup->search#suggestions',
                                           suggestions_url: search_suggestions_path,
                                           search_target: "input"
                                         }
                                       }
                                      ) %>
          </div>


          <div>
            <p>Last Known Cities?</p>
            <%= form.collection_select(:last_known_city_ids, @last_known_cities, :id, :name,
                                       { prompt: 'In which cities was this person last located?' },
                                       { multiple: true, class: 'autocomplete-form',
                                         data: {
                                           controller: 'search',
                                           oldaction: 'keyup->search#suggestions',
                                           suggestions_url: search_suggestions_path,
                                           search_target: 'input'
                                         }
                                       }
                                      ) %>
          </div>


          <div class="col">
            <%= form.label :mobile_phone_1, style: "display: block" %>
            <%= form.text_field :mobile_phone_1 %>
          </div>

          <div class="col">
            <%= form.label :office_phone_1, style: "display: block" %>
            <%= form.text_field :office_phone_1 %>
          </div>

          <div class="col">
            <%= form.label :home_phone, style: "display: block" %>
            <%= form.text_field :home_phone %>
          </div>

          <div class="col">
            <%= form.label :email_1, style: "display: block" %>
            <%= form.text_field :email_1 %>
          </div>

          <div class="col">
            <%= form.label :website_1, style: "display: block" %>
            <%= form.text_field :website_1 %>
          </div>

          <div class="col">
            <%= form.label :contact_apps, style: "display: block" %>
            <%= form.text_field :contact_apps %>
          </div>

          <div class="col">
            <%= form.label :birthday, style: "display: block" %>
            <%= form.date_select :birthday, start_year: Date.current.year - 100, end_year: Date.current.year, order: [:month, :day, :year], prompt: true %>

          </div>

          <div class="col">
            <%= form.label :address_1, style: "display: block" %>
            <%= form.text_area :address_1 %>
          </div>

          <div class="col">
            <%= form.label :how_we_met, style: "display: block" %>
            <%= form.text_area :how_we_met %>
          </div>

          <div class="col">
            <%= form.label :things_I_like, style: "display: block" %>
            <%= form.text_area :things_I_like %>
          </div>

          <div class="col">
            <%= form.label :best_memories, style: "display: block" %>
            <%= form.text_area :best_memories %>
          </div>

          <div class="col">
            <%= form.label :areas_for_improvement, style: "display: block" %>
            <%= form.text_area :areas_for_improvement %>
          </div>

          <div class="col">
            <%= form.label :notes, style: "display: block" %>
            <%= form.text_area :notes %>
          </div>

          <div class="col">
            <%= form.label :contact_groups, style: "display: block" %>
            <%= form.collection_check_boxes :contact_group_ids, @contact_groups, :id, :name, { multiple: true } %>
          </div>

          <div class="col">
            <%= form.label :contact_types, style: "display: block" %>
            <%= form.collection_check_boxes :contact_type_ids, @contact_types, :id, :name, { multiple: true } %>
          </div>
        </div>

        <div class="row mt-5">

          <div class="col">
            <%= form.label :office_phone_2, style: "display: block" %>
            <%= form.text_field :office_phone_2 %>
          </div>

          <div class="col">
            <%= form.label :other_phone, style: "display: block" %>
            <%= form.text_field :other_phone %>
          </div>

          <div class="col">
            <%= form.label :email_2, style: "display: block" %>
            <%= form.text_field :email_2 %>
          </div>

          <div class="col">
            <%= form.label :email_3, style: "display: block" %>
            <%= form.text_field :email_3 %>
          </div>

          <div class="col">
            <%= form.label :email_4, style: "display: block" %>
            <%= form.text_field :email_4 %>
          </div>

          <div class="col">
            <%= form.label :email_5, style: "display: block" %>
            <%= form.text_field :email_5 %>
          </div>

          <div class="col">
            <%= form.label :website_2, style: "display: block" %>
            <%= form.text_field :website_2 %>
          </div>

          <div class="col">
            <%= form.label :website_3, style: "display: block" %>
            <%= form.text_field :website_3 %>
          </div>

          <div class="col">
            <%= form.label :website_4, style: "display: block" %>
            <%= form.text_field :website_4 %>
          </div>

          <div class="col">
            <%= form.label :website_5, style: "display: block" %>
            <%= form.text_field :website_5 %>
          </div>

          <div class="col">
            <%= form.label :website_6, style: "display: block" %>
            <%= form.text_field :website_6 %>
          </div>

          <div class="col">
            <%= form.label :website_7, style: "display: block" %>
            <%= form.text_field :website_7 %>
          </div>

          <div class="col">
            <%= form.label :website_8, style: "display: block" %>
            <%= form.text_field :website_8 %>
          </div>

          <div class="col">
            <%= form.label :mobile_phone_2, style: "display: block" %>
            <%= form.text_field :mobile_phone_2 %>
          </div>

          <div class="col">
            <%= form.label :address_2, style: "display: block" %>
            <%= form.text_area :address_2 %>
          </div>

        </div>
        <br><br>
        <div>
          <%= form.submit %>
        </div>

      <% end %>

