<div class="container">
  <div class="card">

    <div class="mx-auto py-5">


      <p style="color: green"><%= notice %></p>

      <%= render @contact %>

      <div>
        <%= link_to "Edit this contact", edit_contact_path(@contact) %> |
        <%= link_to "Back to contacts", contacts_path %>

        <%= button_to "Destroy this contact", @contact, method: :delete %>
      </div>

    </div>
  </div>
</div>
