<%= form_with(model: last_known_city) do |form| %>
  <% if last_known_city.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(last_known_city.errors.count, "error") %> prohibited this last_known_city from being saved:</h2>

      <ul>
        <% last_known_city.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
