<p style="color: green"><%= notice %></p>

<%= render @contact_type %>

<div>
  <%= link_to "Edit this contact type", edit_contact_type_path(@contact_type) %> |
  <%= link_to "Back to contact types", contact_types_path %>

  <%= button_to "Destroy this contact type", @contact_type, method: :delete %>
</div>
