<p style="color: green"><%= notice %></p>

<%= render @last_known_country %>

<div>
  <%= link_to "Edit this last known country", edit_last_known_country_path(@last_known_country) %> |
  <%= link_to "Back to last known countries", last_known_countries_path %>

  <%= button_to "Destroy this last known country", @last_known_country, method: :delete %>
</div>
