<!-- <li class="nav-item active mr-2">
  <a class="nav-link btn btn-outline-success btn-sm" style="color: white" href="/">Home <span class="sr-only">(current)</span></a>
</li> -->



<li class="nav-item me-2 dropdown">
  <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
    Go To
  </button>
  <div class="dropdown-menu dropdown-menu-end">
    <ul class="list-unstyled">
      <li><a class="dropdown-item" href="/">Home</a></li>
      <li><a class="dropdown-item" href="/contacts">Search</a></li>
      <li><a class="dropdown-item" href="/all_contacts">All Contacts</a></li>
      <li><a class="dropdown-item" href="/all_points">All Points</a></li>
      <li><a class="dropdown-item" href="/interactions">Interactions</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/contact_groups">Contact Groups</a></li>
      <li><a class="dropdown-item" href="/contact_types">Contact Types</a></li>
      <li><a class="dropdown-item" href="/locations">Locations</a></li>
      <li><a class="dropdown-item" href="/last_known_cities">Cities</a></li>
        <li><hr class="dropdown-divider"></li>
      <% if current_user %>
        <li><%= link_to "Manage Billing", billing_path, class: "dropdown-item" %></li>
      <% end %>

      <% if current_user.admin? %>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/admin">User List</a></li>
        <li><a class="dropdown-item" href="/last_known_countries">Countries</a></li>
      <% end %>
    </ul>
  </div>
</li>


<!-- <li class="nav-item me-2">
  <a class="btn btn-outline-success btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-delay="0" title="Contacts" style="color: white" href="/contacts">C</a>
</li> -->

<!-- <li class="nav-item me-2">
  <a class="btn btn-outline-success btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-delay="0" title="Contact Groups" style="color: white" href="/contact_groups">G</a>
</li>

<li class="nav-item me-2">
  <a class="btn btn-outline-success btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-delay="0" title="Contact Types" style="color: white" href="/contact_types">T</a>
</li>

<li class="nav-item me-2">
  <a class="btn btn-outline-success btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-delay="0" title="Locations" style="color: white" href="/locations">L</a>
</li>

<li class="nav-item me-2">
  <a class="btn btn-outline-success btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-delay="0" title="Interactions" style="color: white" href="/interactions">I</a>
</li>

<li class="nav-item me-2">
  <a class="btn btn-outline-success btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-delay="0" title="All Points" style="color: white" href="/all_points">AP</a>
</li> -->

<!-- <li class="nav-item mr-2">
  <a class="nav-link btn btn-outline-success btn-sm" style="color: white" href="#">Tasks</a>
</li> -->

<li class="nav-item me-2" style="float: right">
  <a class="btn btn-primary btn-sm" type="button" style="color: white" href="/interactions/new">New Interaction</a>
</li>

<li class="nav-item me-2" style="float: right">
  <%= link_to 'New Contact', new_contact_path, class: "btn btn-secondary btn-sm", type: "button", style: "color: white" %>
</li>

<li class="nav-item me-2" style="float: right">
  <%= link_to 'New Location', new_location_path, class: "btn btn-secondary btn-sm", type: "button", style: "color: white" %>
</li>

<li class="nav-item me-2" style="float: right">
  <%= link_to 'New City', new_last_known_city_path, class: "btn btn-secondary btn-sm", type: "button", style: "color: white" %>
</li>

<li class="nav-item me-2" style="float: right">
  <a class="btn btn-secondary btn-sm" type="button" style="color: white" href="/contact_groups/new">New Group</a>
</li>

<li class="nav-item me-2" style="float: right">
  <a class="btn btn-secondary btn-sm" type="button" style="color: white" href="/contact_types/new">New Type</a>
</li>

<!-- <form class="form-inline my-2 my-lg-0">
    <%# render 'contacts/search_form' %>
</form> -->


<%= link_to 'Upgrade', checkout_path, class: "btn btn-success btn-sm", type: "button" %>
<%= button_to 'LogOut', destroy_user_session_path, :method => :delete, class: "btn btn-danger btn-sm mx-5", type: "button" %>
